<div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm ">
  <.header><a href="/auctions">auctions</a></.header>
  <.header><a href="/exhibits">exhibits</a></.header>
  <.header><a href="/artists">artists</a></.header>
</div>

