<.header>
  New Exhibit
  <:subtitle>Use this form to manage exhibit records in your database.</:subtitle>
</.header>

<.exhibit_form changeset={@changeset} action={~p"/exhibits"} />

<.back navigate={~p"/exhibits"}>Back to exhibits</.back>
